/* Style Dashboard */
.v-list-item--active {
    background-color: rgba(255, 255, 255, 0.1);
}

/* Animation VueJS */
.slide-fade-enter-active {
    transition: all 0.4s ease;
}

.slide-fade-leave-active {
    transition: all 0.4s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter,
.slide-fade-leave-to {
    transform: translateX(10px);
    opacity: 0;
}

/* Backgrund Color de la App */
#app {
    background-color: #e6f4ea;
}

/* Estilos para error 403 */
.error-card {
    max-width: 500px;
    margin-top: 100px;
    border: 2px solid #b2df8a;
    background-color: #f0f8e5;
}

.error-title {
    background-color: #b2df8a;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    padding: 16px;
}

.error-message {
    font-size: 18px;
    padding: 16px;
}

/* Estilos para el contenido principal cuando la navegación está expandida */
.drawer-expanded {
    margin-left: -240px;
}

/* Estilos para el contenido principal cuando la navegación está contraída */
.drawer-collapsed {
    margin-left: 72px;
}
